<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Netlify Shortcut Status Update</title>
    <style>
        /* One fewer file */
        .statuses {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            grid-gap: 2rem;
        }
        .status {
            box-shadow: 1px 1px 3px solid #333;
        }

        img {
            max-width: 100%;
        }

    </style>

</head>
<body>
    {{ content }}

    <div class="statuses">
    {% for status in site.data.statuses %}
        <article class="status">
            <img src="{{ status.imgUrl }}">
            <p>{{ status.status }}</p>
        </article>
    {% endfor %}
    </div>
</body>
</html>